body {
  background-color: aqua;
  margin: 30px auto;
  max-width: 600px;
}
h1 {
  text-align: center;
  color: red;
  font-size: 60px;
}
footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

footer {
  font-size: 20px;
}
img {
  width: 600px;
  height: auto;
}
.homepage {
  text-align: center;
  padding: 20px;
}
main {
  text-align: center;
  padding: 20px;
}
